@charset "UTF-8";

table {
			border-collapse:collapse;
			border:3px;
			border-color: light-grey;
			width: 400px;
			font-size:12px;
			background-color:#DEEEEF; 
			
			
			}
td { 
			width:90px;
			padding: 2px;
			height:23px;
			
		 }
.in { text-align:center; }
.input {
		width:120px;
		height:23px;
		
}